body{
    margin: 0;
    padding: 0;
    font-family: 'Verdana', serif !important;
    background-color: #F8F9FA;
    align-items: center;
    text-align: center;
}

.container{
margin-top: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
max-width: 400px;
background: #d4d4d4;
border-radius: 10px;
}



.inputCont {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    display: flex; /* Cambio importante: usar flexbox */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .Icono {
    width: 25px;
    color: #d9d9d9;
    
    transform: translateY(12%);
    left: 10px; /* Ajusta el valor según tu diseño */
    transition: transform 0.3s ease; 
  }


.container h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    
}

.imgAd{
    max-width:600px;
}

form  .inputCont{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.inputCont input {
    flex: 1; /* El input tomará el espacio restante */
    padding: 0 10px; /* Ajusta el padding según tu diseño */
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }

  .inputCont label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px; /* Ajusta el valor según tu diseño */
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition:  .5s; 
  }

.logoeMercado{
    min-width: 100vw;
    width: 100vw;
}






.links{
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.links a:link{
text-decoration: none;

}

.links a:hover{
    text-decoration: underline;
}

input[type= "submit"]{
    width: 100%;
    height: 50px;
    border: 0.5px solid;
    border-color: #adadad;
    background-color: #A2C579; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 25px;
    font-size: 18px;
    
    outline: none;
    box-shadow: 0px 0px 3px rgb(129, 129, 129);

}

input[type= "submit"]:hover{
    background-color: #D2DE32; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Escala ligeramente el botón al pasar el mouse */
    transition: .5s;
    box-shadow: 0px 0px 10px rgb(129, 129, 129);
}


footer {
    margin-bottom: -0px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }


/*
  .inputCont input:focus ~ label,
  .inputCont input:focus ~ label{
     
      top: -5px;
      color: rgba(240, 133, 12, 0.89);
  }
  
  
  .inputCont input::after ~ label,
  .inputCont input::after ~ label{
      top: -5px;
      color: rgba(240, 133, 12, 0.89);
  }
  
  .inputCont input:focus ~ .span::before,
  .inputCont input:focus ~ .span::before{
      width: 100%;
      
  }

  .inputCont span:before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(240, 133, 12, 0.89);
    transition: .5s;
}*/