@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}
main
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .jumbotron {
    height: 20vh;
    background-image: url('../img/login.png');
    background-size: contain;
  
  }

  
}



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  top: 100%;
  
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 60px); 
  margin-top: 60px;
}

@media (max-width: 768px) {
  main {
    margin-top: 0px; /* En dispositivos móviles, se establece a 0 para eliminar el margin-top */
  }

 
  
}

@media (max-width: 768px) {
  .col-md-4 {
    position: relative;
    max-width: 100%; /* Ancho máximo del 100% del contenedor */
    margin-bottom: 10px; /* Espacio entre los cuadros */
  }

  .col-md-4 img {
    max-width: 100%; /* Ancho máximo del 100% del contenedor */
    max-height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    opacity: 0.7;
  }

  .col-md-4 h3 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 0;
    text-align: center;
  }

 
  
  
}


a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}



nav{

  float: inline-end;
}

.common-styled-product {
  background-color: #f9f9f9;
  border-top: 1px solid #5c5c5c;
}

#products-list{
  margin-top: 20px;
}

#searchInput{
margin-right: 5px;

}

.product {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.253);
}

.product img { 
  max-width: 100%; 
  max-width: 100%;
  height: auto; 
  margin-right: 50px; 

}


.product h2 {
  margin: 0;
  font-family: 'Verdana', serif ;
  font-weight: thin;

}

.product .description-container {
  flex-grow: 1; /* Permite que la descripción ocupe todo el espacio disponible */
  text-align: left; /* Alinea la descripción a la derecha */
}

.product:hover {
  background-color: #f0f0f0; 
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(129, 129, 129);
  transform: translate3d(0px, -5px, -35px);

}

.product:hover .sold-count{
  color: red;
  text-decoration: underline;
}

.product img:hover {
  opacity: 75%;
  transition: 1s; 
}

.cuerpo{
  background-image: url('/img/fondoautos.png');
  margin-top: 70px;
}
/*Esrilo encabezado inicio-------------------------------*/
.logo-usuario{
  max-width: 30px;
  margin-right: 5%;
}
.encabezado{
  background-color: #147479;
}
.container-fluid a{
  color: white;
}
.nav-item a:hover{
  color: wheat;
  background-color: #014246;
}
.navbar-brand{
  font-size: 220%;
  margin-left: 2%;
}
.navbar-nav li{
  font-size: 110%;
  margin-left: 5%;
}
.dropdown-menu a{
  color: #333333;
}
.dropdown-menu li{
  margin-left: 0%;
}
#hamburgerBtn{
  border-style: groove;
  border-color: #c0c0c0;
  border-width: 2px;
  color: rgb(0, 0, 0, 0.65);
}
#hamburgerSkin{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#salir{
  width: 75%; /* Ancho del botón */
  height: 45%; /* Alto del botón */
  background-color: #5c7f34; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 18px; /* Tamaño de fuente */
  font-weight:bold;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  outline: none; /* Quita el borde de enfoque */
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 10%;
}
#salir:hover {
  background-color: #344e17; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.05); /* Escala ligeramente el botón al pasar el mouse */
}

/*css del input switch claro/oscuro*/
#switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c0c0c0; /* Color de fondo del interruptor (modo día) */
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: rgb(255, 145, 0);
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #222222; /* Color de fondo del interruptor (modo noche) */
}
input:checked + .slider:before {
  transform: translateX(18px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*Estilo encabezado fin----------------------------*/

/* Estilos para el modo claro */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .product{
  background-color: #121212;
}
.dark-mode .col-md-4{
  color: #121212;
}
.dark-mode .list-group-item{
  background-color: #121212;
  color: white;
}
.dark-mode .navbar-brand, .dark-mode .nav-link{
  color: #121212;
}
.dark-mode .dropdown-menu{
  background-color: #121212;
}
.dark-mode .dropdown-item{
  color: white;
}
.dark-mode #titulocom{
  color: #121212;
}
.dark-mode .new-comment{
  color: #121212;
}


.dark-mode input{
  background-color: rgb(66, 66, 66);
  color: white;
}

.dark-mode input:focus{
background-color: rgb(66, 66, 66);
color: white;
}


/* Estilo para ocultar el texto en dispositivos móviles */
@media (max-width: 1400px) {
  #btnCart {
    font-size: 0; /* Oculta el texto estableciendo el tamaño de fuente a 0 */
    text-indent: -9999px; /* Mueve el texto fuera del área visible */
  }

  /* Establece un ancho y alto para la imagen del carrito de compras */
  #btnCart {
    content: ''; /* Agrega un contenido vacío */
    background: url('../img/Logo-carrito.png'); /* Agrega una imagen de carrito de compras como fondo */
    background-size: contain; /* Ajusta el tamaño de la imagen */
    opacity: 0.5; /* Ajusta la opacidad de la imagen (0.7 significa 70%) */
    
    width: 5px; /* Ancho de la imagen */
    height: 5px; /* Alto de la imagen */
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
}


.img-responsive {
  max-width: 100%;
  height: auto;
}

/* Products para movil */
/* Estilo para ocultar la descripción en dispositivos móviles */
@media (max-width: 768px) {
  .description-container p {
    display: none;
  }

  .description-container .price {
    display: block;
  }

  .sold-count {
    display: none;
  }

  .product img {
    max-width: 100px; /* Ancho máximo deseado en píxeles */
    max-height: 100px; /* Alto máximo deseado en píxeles */
  }

/* Oculta el texto "Inicio" y muestra la imagen en dispositivos móviles */



  .navbar-brand {
    font-size: 0; /* Oculta el texto estableciendo el tamaño de fuente a 0 */
    text-indent: -9999px; /* Mueve el texto fuera del área visible */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
  }

  .navbar-brand::before {
    content: "";
    background: url('../img/Logo en png con relieve.png') no-repeat; /* Agrega una imagen como fondo */
    background-size: contain; /* Ajusta el tamaño de la imagen para que quepa sin deformarse */
    width: 200px; /* Ancho de la imagen */
    height: 80px; /* Alto de la imagen */
    display: inline-block; /* Permite que la imagen ocupe espacio en línea */
    margin-right: 20px; /* Agrega un margen derecho para separar la imagen de otros elementos */
    vertical-align: middle; /* Alinea verticalmente la imagen en la barra de navegación */
  }

  .navbar-nav .nav-item {
    margin: 0; /* Elimina cualquier margen en los elementos de navegación */
    padding: 0; /* Elimina cualquier relleno en los elementos de navegación */
  }

  #hamburgerBtn {
    position: absolute; /* Establece una posición absoluta */
    right: 15px; /* Ajusta la distancia desde la derecha según tu preferencia */
    top: 50%; /* Alinea verticalmente el botón al centro */
    transform: translateY(-50%); /* Alinea verticalmente el botón al centro */
    z-index: 100; /* Asegura que esté en la parte superior del contenido */
  }
  
  #navbarNavDropdown {
    position: relative; /* Asegura que el elemento contenedor sea relativo para posicionar el botón de manera absoluta */
  }

  /* Establece un margen superior de, por ejemplo, 20px al div */
  div.btn-group-toggle {
  margin-top: 10px;
  }

  /* Haz el input un poco más largo */
  #searchInput {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  border-radius: 20px; /* Agrega bordes redondeados */
  padding: 10px; /* Agrega un espacio interno para que los bordes redondeados se vean mejor */
  margin: 12px;
  }

  #products-list {
    margin-top: -80px; /* Ajusta el valor según tus necesidades */
  }

}

#searchInput {
  width: 600px; /* Ajusta el ancho según tus necesidades */
  border-radius: 20px; /* Agrega bordes redondeados */
  padding: 10px; /* Agrega un espacio interno para que los bordes redondeados se vean mejor */
  margin: 12px;
  text-align: left;
  }


  #products-list {
    margin-top: -80px; /* Ajusta el valor según tus necesidades */
  }

  /* Aplica flexbox para alinear el contenedor a la izquierda */
#searchInputContainer {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  align-items: center; /* Centra verticalmente si es necesario */
}

#searchInput {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  margin: 12px;
}

  


  

/*Imagen carrito*/
.imagenCart{
  max-width: 50px;
}
/*Fin Carrito*/
/*Input Carrito*/
.cantidadProd{
  max-width: 50px;
}
/*Fin Input Carrito*/
/*Tamaño fuente lista del carrito*/
.fnt-size{
  font-size: 70%;
}
/*Fin Tamaño fuente carrito*/
/*TopCarrito inicio*/
.topCart{
  background-color: #121212;
  color: white;
}
/*Fin TopCarrito*/
.btnproductss{
  margin-bottom:40px;
}


